component name=lda type=FixedAffineComponent matrix=lda.mat
component name=affine1 type=NaturalGradientAffineComponentWithFixedZero input-dim=360 output-dim=2000 bias-stddev=0
component name=nonlin1 type=SigmoidComponent dim=2000
component name=renorm1 type=NormalizeComponent dim=2000 target-rms=1.0
component name=affine2 type=NaturalGradientAffineComponentWithFixedZero input-dim=2000 output-dim=2000 bias-stddev=0
component name=nonlin2 type=SigmoidComponent dim=2000
component name=renorm2 type=NormalizeComponent dim=2000 target-rms=1.0
component name=affine3 type=NaturalGradientAffineComponentWithFixedZero input-dim=2000 output-dim=2000 bias-stddev=0
component name=nonlin3 type=SigmoidComponent dim=2000
component name=renorm3 type=NormalizeComponent dim=2000 target-rms=1.0
component name=affine4 type=NaturalGradientAffineComponentWithFixedZero input-dim=2000 output-dim=2000 bias-stddev=0
component name=nonlin4 type=SigmoidComponent dim=2000
component name=renorm4 type=NormalizeComponent dim=2000 target-rms=1.0
component name=affine5 type=NaturalGradientAffineComponentWithFixedZero input-dim=2000 output-dim=2000 bias-stddev=0
component name=nonlin5 type=SigmoidComponent dim=2000
component name=renorm5 type=NormalizeComponent dim=2000 target-rms=1.0
component name=affine6 type=NaturalGradientAffineComponentWithFixedZero input-dim=2000 output-dim=2000 bias-stddev=0
component name=nonlin6 type=SigmoidComponent dim=2000
component name=renorm6 type=NormalizeComponent dim=2000 target-rms=1.0
component name=final-affine type=NaturalGradientAffineComponentWithFixedZero input-dim=2000 output-dim=3430 bias-stddev=0
component name=final-fixed-scale type=FixedScaleComponent scales=presoftmax_prior_scale.vec
component name=final-log-softmax type=LogSoftmaxComponent dim=3430

input-node name=input dim=40
component-node name=lda component=lda input=Append(Offset(input, -4), Offset(input, -3), Offset(input, -2), Offset(input, -1), input, Offset(input, 1), Offset(input, 2), Offset(input, 3), Offset(input, 4))
component-node name=affine1 component=affine1 input=lda
component-node name=nonlin1 component=nonlin1 input=affine1
component-node name=renorm1 component=renorm1 input=nonlin1
component-node name=affine2 component=affine2 input=renorm1
component-node name=nonlin2 component=nonlin2 input=affine2
component-node name=renorm2 component=renorm2 input=nonlin2
component-node name=affine3 component=affine3 input=renorm2
component-node name=nonlin3 component=nonlin3 input=affine3
component-node name=renorm3 component=renorm3 input=nonlin3
component-node name=affine4 component=affine4 input=renorm3
component-node name=nonlin4 component=nonlin4 input=affine4
component-node name=renorm4 component=renorm4 input=nonlin4
component-node name=affine5 component=affine5 input=renorm4
component-node name=nonlin5 component=nonlin5 input=affine5
component-node name=renorm5 component=renorm5 input=nonlin5
component-node name=affine6 component=affine6 input=renorm5
component-node name=nonlin6 component=nonlin6 input=affine6
component-node name=renorm6 component=renorm6 input=nonlin6
component-node name=final-affine component=final-affine input=renorm6
component-node name=final-fixed-scale component=final-fixed-scale input=final-affine
component-node name=final-log-softmax component=final-log-softmax input=final-fixed-scale
output-node name=output input=final-log-softmax objective=linear
